---
import { faGithub, faLinkedinIn } from '@fortawesome/free-brands-svg-icons';
import { faEnvelope } from '@fortawesome/free-solid-svg-icons';

const socialIcons = [
    {
        name: 'GitHub',
        url: 'https://github.com/Salegomx',
        icon: faGithub
    },
    {
        name: 'LinkedIn',
        url: 'https://www.linkedin.com/in/salegomx/',
        icon: faLinkedinIn
    },
    {
        name: 'Email',
        url: 'mailto:hola@sergiogomez.mx?subject=sergiogomez.mx',
        icon: faEnvelope
    }
];

// SVGPathData to string
const getPathData = (iconData: any) => {
    return Array.isArray(iconData) ? iconData.join(' ') : iconData;
};
---

<ul>
    {socialIcons.map((social) => (
        <li>
            <a 
                href={social.url} 
                target="_blank" 
                rel="noopener noreferrer" 
                title={social.name} 
                aria-label={social.name}
            >
                <svg 
                    width="20" 
                    height="20" 
                    viewBox={`0 0 ${social.icon.icon[0]} ${social.icon.icon[1]}`} 
                    fill="currentColor"
                >
                    <path d={getPathData(social.icon.icon[4])}></path>
                </svg>
            </a>
        </li>
    ))}
</ul>